/* ==========================================================================
   SASS/Compass/Mixin Plugins
   ========================================================================== */
/* ==========================================================================
   Generic
   - Our reset and custom SASS variables and Mixins
   ========================================================================== */
/*
* Custom Mixins
*/
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/* line 10, ../sass/generic/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 30, ../sass/generic/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../sass/generic/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 53, ../sass/generic/_reset.scss */
[hidden],
template {
  display: none;
}

/* 
* Setup Sass variables
* 1. Sizes
* 2. Fonts
* 3. Colors
*/
/* Sizes */
/* Typography */
/**** Colors ****/
/* Bolds */
/* Neutrals */
/* Breakpoints */
/**** Fonts ****/
/**** Images ****/
/* Arrows */
/* Logos */
/* Background Images */
/* ==========================================================================
   Base | Basic Element Styles
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 18, ../sass/base/_base.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
  background-color: #ECEAEE;
}

/**
 * Remove default margin.
 */
/* line 30, ../sass/base/_base.scss */
body {
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Fonts */
/* line 4, ../sass/base/_fonts.scss */
.ll300 {
  font-family: "Linux Libertine", Arial, serif;
  font-weight: 300;
}

/* line 9, ../sass/base/_fonts.scss */
body, .ll400 {
  font-family: "Linux Libertine", Arial, serif;
  font-weight: 400;
}

/* line 14, ../sass/base/_fonts.scss */
.ll700 {
  font-family: "Linux Libertine", Arial, serif;
  font-weight: 700;
}

/* line 21, ../sass/base/_fonts.scss */
.t300 {
  font-family: "Tusj", Helvetica, sans-serif;
  font-weight: 300;
}

/* line 26, ../sass/base/_fonts.scss */
.t400 {
  font-family: "Tusj", Helvetica, sans-serif;
  font-weight: 400;
}

/* line 31, ../sass/base/_fonts.scss */
.t700 {
  font-family: "Tusj", Helvetica, sans-serif;
  font-weight: 700;
}

/* line 37, ../sass/base/_fonts.scss */
h1, h2, h3, h4, h5, h6, .current-section-title, .a300 {
  font-family: "Airbag", Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 43, ../sass/base/_fonts.scss */
.a400 {
  font-family: "Airbag", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 50, ../sass/base/_fonts.scss */
.a700 {
  font-family: "Airbag", Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Forms
========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 16, ../sass/base/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 30, ../sass/base/_forms.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 41, ../sass/base/_forms.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 54, ../sass/base/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 66, ../sass/base/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 75, ../sass/base/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 86, ../sass/base/_forms.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 98, ../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 110, ../sass/base/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 121, ../sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 134, ../sass/base/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 143, ../sass/base/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 154, ../sass/base/_forms.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 163, ../sass/base/_forms.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 172, ../sass/base/_forms.scss */
optgroup {
  font-weight: bold;
}

/*
* Grid
*/
/* line 5, ../sass/base/_grid.scss */
.grid-container {
  width: 100%;
  margin-left: -30px;
  margin-right: -30px;
}

/* line 13, ../sass/base/_grid.scss */
.third,
.fourth,
.half,
.two-third,
.fifth,
.two-fifth,
.three-fifth,
.full {
  padding: 0 30px;
  float: left;
}

/* line 25, ../sass/base/_grid.scss */
.third {
  width: 33.33333%;
}

/* line 29, ../sass/base/_grid.scss */
.fourth {
  width: 25%;
}

/* line 33, ../sass/base/_grid.scss */
.half {
  width: 100%;
}
@media (min-width: 1020px) {
  /* line 33, ../sass/base/_grid.scss */
  .half {
    width: 50%;
  }
}

/* line 40, ../sass/base/_grid.scss */
.two-third {
  width: 66.66667%;
}

/* line 44, ../sass/base/_grid.scss */
.three-fourth {
  width: 75%;
}

/* line 48, ../sass/base/_grid.scss */
.fifth {
  width: 20%;
}

/* line 52, ../sass/base/_grid.scss */
.two-fifth {
  width: 40%;
}

/* line 56, ../sass/base/_grid.scss */
.three-fifth {
  width: 60%;
}

/* line 60, ../sass/base/_grid.scss */
.full {
  width: 100%;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 8, ../sass/base/_grouping.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 16, ../sass/base/_grouping.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 26, ../sass/base/_grouping.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 34, ../sass/base/_grouping.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 6, ../sass/base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 60px 0;
}

/* line 13, ../sass/base/_headings.scss */
h1, .h1 {
  font-size: 94px;
  font-size: 9.4rem;
}

/* line 16, ../sass/base/_headings.scss */
h2, .h2 {
  font-size: 54px;
  font-size: 5.4rem;
}

/* line 19, ../sass/base/_headings.scss */
h3, .h3 {
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 22, ../sass/base/_headings.scss */
h4, .h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 25, ../sass/base/_headings.scss */
h5, .h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 28, ../sass/base/_headings.scss */
h6, .h6 {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* line 1, ../sass/base/_layout.scss */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, ../sass/base/_layout.scss */
.container .container {
  margin: 0 -20px;
}

/* line 9, ../sass/base/_layout.scss */
main {
  display: block;
}
/* line 20, ../sass/generic/_mixins.scss */
main:after {
  clear: both;
  content: '';
  display: table;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 8, ../sass/base/_links.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 16, ../sass/base/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 21, ../sass/base/_links.scss */
.inline-block-link {
  display: inline-block;
  margin-right: 10px;
}

/*
* List Styles
*/
/* line 5, ../sass/base/_lists.scss */
.plain-list, .link-block {
  margin: 0;
  padding: 0;
}
/* line 8, ../sass/base/_lists.scss */
.plain-list li, .link-block li {
  list-style: none;
}

/* line 16, ../sass/base/_lists.scss */
.link-block a {
  display: block;
  text-decoration: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 8, ../sass/base/_media.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 16, ../sass/base/_media.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, ../sass/base/_sprites.scss */
.svg-arrow-up-icon, .svg-close-icon, .svg-download-icon, .svg-fb, .svg-fb-icon, .svg-gear, .svg-google-plus, .svg-linkedin, .svg-logo-colored, .svg-logo-white, .svg-top-border, .svg-twitter, .svg-twitter-icon {
  background-repeat: no-repeat;
  background-image: url(../images/sprites/sprite.svg);
}

/* line 6, ../sass/base/_sprites.scss */
.svg-arrow-up-icon {
  background-position: 74.93112947658402% 21.53846153846154%;
  width: 31px;
  height: 31px;
}

/* line 14, ../sass/base/_sprites.scss */
.svg-close-icon {
  background-position: 65.92592592592592% 22.580645161290324%;
  width: 40px;
  height: 40px;
}

/* line 22, ../sass/base/_sprites.scss */
.svg-download-icon {
  background-position: 62.430939226519335% 22.82608695652174%;
  width: 34px;
  height: 42px;
}

/* line 30, ../sass/base/_sprites.scss */
.svg-fb {
  background-position: 76.58227848101266% 21.417644059153492%;
  width: 14px;
  height: 29.9px;
}

/* line 38, ../sass/base/_sprites.scss */
.svg-fb-icon {
  background-position: 72.05882352941177% 21.649484536082475%;
  width: 32px;
  height: 32px;
}

/* line 46, ../sass/base/_sprites.scss */
.svg-gear {
  background-position: 61.86131386861314% 52.97029702970297%;
  width: 24px;
  height: 24px;
}

/* line 54, ../sass/base/_sprites.scss */
.svg-google-plus {
  background-position: 78.91842346471127% 20.895522388059703%;
  width: 29px;
  height: 25px;
}

/* line 62, ../sass/base/_sprites.scss */
.svg-linkedin {
  background-position: 61.86131386861314% 41.37931034482759%;
  width: 24px;
  height: 23px;
}

/* line 70, ../sass/base/_sprites.scss */
.svg-logo-colored {
  background-position: 0 100%;
  width: 360px;
  height: 184px;
}

/* line 78, ../sass/base/_sprites.scss */
.svg-logo-white {
  background-position: 44.88778054862843% 64.61538461538461%;
  width: 318px;
  height: 161px;
}

/* line 86, ../sass/base/_sprites.scss */
.svg-top-border {
  background-position: 0 0;
  width: 1120px;
  height: 42px;
}

/* line 94, ../sass/base/_sprites.scss */
.svg-twitter {
  background-position: 81.3528336380256% 20.48780487804878%;
  width: 26px;
  height: 21px;
}

/* line 102, ../sass/base/_sprites.scss */
.svg-twitter-icon {
  background-position: 69.11764705882354% 21.649484536082475%;
  width: 32px;
  height: 32px;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 8, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, ../sass/base/_tables.scss */
td,
th {
  padding: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 8, ../sass/base/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 16, ../sass/base/_typography.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 25, ../sass/base/_typography.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 34, ../sass/base/_typography.scss */
h1 {
  font-size: 3em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 43, ../sass/base/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 52, ../sass/base/_typography.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 60, ../sass/base/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 68, ../sass/base/_typography.scss */
sup {
  top: -0.5em;
}

/* line 72, ../sass/base/_typography.scss */
sub {
  bottom: -0.25em;
}

/* 
* Utility
* Very Generic classes that are meant to be extended by your own objects. 
*/
/* line 7, ../sass/base/_utility.scss */
.float-right {
  float: right;
}

/* line 8, ../sass/base/_utility.scss */
.float-left {
  float: left;
}

/* line 9, ../sass/base/_utility.scss */
img.float-right {
  margin: 0 0 60px 60px;
}

/* line 10, ../sass/base/_utility.scss */
img.float-left {
  margin: 0 60px 60px 0;
}

/* line 11, ../sass/base/_utility.scss */
.align-right {
  text-align: right;
}

/* line 12, ../sass/base/_utility.scss */
.align-left {
  text-align: left;
}

/* line 13, ../sass/base/_utility.scss */
.align-center {
  text-align: center;
}

/* line 14, ../sass/base/_utility.scss */
img.max-width {
  width: 100%;
  height: auto;
}

/* line 17, ../sass/base/_utility.scss */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 20, ../sass/generic/_mixins.scss */
.float-clear:after,
.grid-container:after, .container:after, .link-block:after {
  clear: both;
  content: '';
  display: table;
}

/* line 23, ../sass/base/_utility.scss */
.image-replace {
  display: block;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 26, ../sass/base/_utility.scss */
.box-sizing, *, *:before, *:after {
  box-sizing: border-box;
}

/* line 29, ../sass/base/_utility.scss */
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* line 35, ../sass/base/_utility.scss */
.break-all {
  word-break: break-all;
}

/* line 44, ../sass/base/_utility.scss */
.no-margin {
  margin: 0;
}

/* line 48, ../sass/base/_utility.scss */
.margin-half {
  margin: 30px 0;
}

/* line 52, ../sass/base/_utility.scss */
.image-only-link {
  text-decoration: none;
  text-indent: -10000px;
}

/* line 57, ../sass/base/_utility.scss */
.plain-link {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   Objects | Custom Object Styles 
   Remember to keep new additions object-oriented.
   Ex:
   @import 'articles';
   @import 'calendar';
   @import 'map';
   ========================================================================== */
/*
* Animations
*/
/*
* Button Styles
*/
/* line 4, ../sass/objects/_buttons.scss */
.button {
  display: inline-block;
  text-decoration: none;
}

/*
* Callouts
*/
/*
* Footer
*/
/*
* Header
*/
/* line 5, ../sass/objects/_header.scss */
header {
  width: 100%;
  text-align: center;
  background-color: #D9DBF1;
  padding-top: 60px;
}

/* line 12, ../sass/objects/_header.scss */
.header-inner {
  padding: 0 60px;
}

/* line 16, ../sass/objects/_header.scss */
.logo {
  width: 200px;
  height: auto;
  display: inline-block;
}
/* line 20, ../sass/objects/_header.scss */
.logo img {
  max-width: 100%;
  height: auto;
}

/* line 26, ../sass/objects/_header.scss */
.current-section-title {
  opacity: 0;
  position: absolute;
  left: 20px;
  line-height: 80px;
  font-size: 50px;
  font-size: 5rem;
}

/*
* Modal
*/
/* line 7, ../sass/objects/_modal.scss */
.page-container {
  position: relative;
  overflow: hidden;
}

/* line 12, ../sass/objects/_modal.scss */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 30, 76, 0.98);
  color: white;
  top: 0;
  padding: 20px;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transform: translate3d(-100%, 0, 10px);
          transform: translate3d(-100%, 0, 10px);
}
/* line 24, ../sass/objects/_modal.scss */
.modal.show {
  -webkit-transform: translate3d(0, 0, 10px);
          transform: translate3d(0, 0, 10px);
}

/* line 29, ../sass/objects/_modal.scss */
.modal-inner {
  height: 100%;
  overflow: auto;
}

/* line 34, ../sass/objects/_modal.scss */
.modal-open {
  height: 100%;
  overflow: hidden;
}

/*
* Navigation
*/
/* line 5, ../sass/objects/_navigation.scss */
.menu-container {
  width: 100%;
  position: relative;
  height: 110px;
}
/* line 10, ../sass/objects/_navigation.scss */
.menu-container svg {
  position: absolute;
  right: calc((100% - 200px)/2);
}
/* line 15, ../sass/objects/_navigation.scss */
.menu-container path {
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
  stroke: #000000;
  stroke-width: 2;
  fill: none;
  -webkit-transition: -webkit-transform 1.1s, opacity 1s, stroke 1s, stroke-width 1s, scale 1s;
          transition: transform 1.1s, opacity 1s, stroke 1s, stroke-width 1s, scale 1s;
}
/* line 25, ../sass/objects/_navigation.scss */
.menu-container.expanded .left-x, .menu-container.expanded .right-x {
  stroke: #2980B9;
  stroke-width: 8;
}
/* line 29, ../sass/objects/_navigation.scss */
.menu-container.expanded .left-x {
  -webkit-transform: scale(0.5) translateX(-45px) translateY(50px) rotate(45deg);
      -ms-transform: scale(0.5) translateX(-45px) translateY(50px) rotate(45deg);
          transform: scale(0.5) translateX(-45px) translateY(50px) rotate(45deg);
}
/* line 32, ../sass/objects/_navigation.scss */
.menu-container.expanded .right-x {
  -webkit-transform: scale(0.5) translateX(-45px) translateY(-47px) rotate(-45deg);
      -ms-transform: scale(0.5) translateX(-45px) translateY(-47px) rotate(-45deg);
          transform: scale(0.5) translateX(-45px) translateY(-47px) rotate(-45deg);
}
/* line 35, ../sass/objects/_navigation.scss */
.menu-container.expanded .fade-left {
  -webkit-transform: translate(-10px, 0px);
      -ms-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
  opacity: 0;
}
/* line 39, ../sass/objects/_navigation.scss */
.menu-container.expanded .fade-up {
  -webkit-transform: translate(0px, -16px);
      -ms-transform: translate(0px, -16px);
          transform: translate(0px, -16px);
  opacity: 0;
}
/* line 43, ../sass/objects/_navigation.scss */
.menu-container.expanded .fade-right {
  -webkit-transform: translate(5px, 0px);
      -ms-transform: translate(5px, 0px);
          transform: translate(5px, 0px);
  opacity: 0;
}

/*
* Sections
*/
/* line 5, ../sass/objects/_sections.scss */
section {
  padding: 60px;
}

/* line 9, ../sass/objects/_sections.scss */
.section-slate {
  background-color: #D9DBF1;
}

/* line 13, ../sass/objects/_sections.scss */
.section-gray-dark {
  background-color: #ACB0BD;
}

/* line 17, ../sass/objects/_sections.scss */
.section-gray-light {
  background-color: #D0CDD7;
}

/* line 21, ../sass/objects/_sections.scss */
.section-blue {
  background-color: #2980B9;
}

/* Special Text Styles */
/*
* Transforms
*/
/* line 22, ../sass/objects/_transforms.scss */
.slide-toggle {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

/* line 26, ../sass/objects/_transforms.scss */
.top-toggle {
  -webkit-transition: top 0.7s ease-out;
          transition: top 0.7s ease-out;
}

/* line 30, ../sass/objects/_transforms.scss */
.current-section-title, .stuck .current-section-title, .fade-toggle {
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}

/* line 43, ../sass/objects/_transforms.scss */
.menu-container, .size-toggle {
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out;
          transition: width 0.3s ease-out, height 0.3s ease-out;
}

/* line 47, ../sass/objects/_transforms.scss */
.menu-container svg, .sticky-menu-toggle {
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out, right 0.5s ease-out;
          transition: width 0.3s ease-out, height 0.3s ease-out, right 0.5s ease-out;
}

/* line 51, ../sass/objects/_transforms.scss */
.margin-top-toggle {
  -webkit-transition: margin-top 0.3s ease-out;
          transition: margin-top 0.3s ease-out;
}

/*
* Specific classes pertaining to Waypoint functionality
*/
/* line 7, ../sass/objects/_waypoints.scss */
.header-sticky {
  background-color: #D9DBF1;
  width: 100%;
}

/* line 11, ../sass/objects/_waypoints.scss */
.stuck {
  position: fixed;
  top: 0;
}
/* line 14, ../sass/objects/_waypoints.scss */
.stuck .current-section-title {
  opacity: 1;
}
/* line 18, ../sass/objects/_waypoints.scss */
.stuck .menu-container {
  height: 80px;
}
/* line 20, ../sass/objects/_waypoints.scss */
.stuck .menu-container svg {
  width: 100px;
  height: 80px;
  right: 20px;
}

/* ==========================================================================
   Fonts 
   ========================================================================== */
@font-face {
  font-family: 'Tusj';
  src: url("../fonts/fff_tusj-webfont.eot");
  src: url("../fonts/fff_tusj-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fff_tusj-webfont.woff") format("woff"), url("../fonts/fff_tusj-webfont.ttf") format("truetype"), url("../fontsfff_tusj-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url("../fonts/linlibertine_dr-webfont.eot");
  src: url("../fonts/linlibertine_dr-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/linlibertine_dr-webfont.woff") format("woff"), url("../fonts/linlibertine_dr-webfont.ttf") format("truetype"), url("../linlibertine_dr-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Airbag';
  src: url("../fonts/airbag-regular-webfont.eot");
  src: url("../fonts/airbag-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/airbag-regular-webfont.woff") format("woff"), url("../fonts/airbag-regular-webfont.ttf") format("truetype"), url("../airbag-regular-webfont.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
