/*
* Sections
*/

section{
	padding: $section-padding $section-padding/2; 
	position: relative; 
}

.section-slate{
	background-color: $slate; 
}

.section-gray-dark{
	background-color: $gray-dark; 
}

.section-gray-light{
	background-color: $gray-light; 
}

.section-blue{
	background-color: $blue; 
}

.section-gray-dark-watercolor{
	@extend .section-gray-dark; 
	@extend %bg-watercolor; 
}

%bg-watercolor{
	&:after{
		content: ""; 
		background-image: $watercolor-background; 
		background-size: cover; 
		position: absolute; 
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0; 
		opacity: 0.2; 
		z-index: 1; 
	}
} 