/*
* Transforms
*/

%skewed-after{
	position: relative; 
	width: calc(100% - 50px);
	&:after{
		content: "";
		position: absolute; 
		top: 0; 
		right: -30px; 
		display: inline-block; 
		width: 50px; 
		height: 100%; 
		background-color: red; 
		z-index: -1; 
		transform: skew(4deg, 0deg); 
	}
}

%slide-toggle, .slide-toggle{
	transition: transform 0.3s ease-out; 
}

%top-toggle, .top-toggle{
	transition: top 0.7s ease-out; 
}

%fade-toggle, .fade-toggle{
	transition: opacity 0.2s ease-out; 
}

%show-toggle{
	transition: display 0.2s ease-out; 
}

%toggle-uri{
	opacity: 1; 
	transition: opacity 1s ease 0.25s; 
}

%size-toggle, .size-toggle{
	transition: width 0.3s ease-out, height 0.3s ease-out; 
}

%sticky-menu-toggle, .sticky-menu-toggle{
	transition: width 0.3s ease-out, height 0.3s ease-out, right 0.5s ease-out; 
}

%margin-top-toggle, .margin-top-toggle{
	transition: margin-top 0.3s ease-out; 
}


.circle-image-left{
	width: 50%; 
	max-width: 300px; 
	height: auto;
	border-radius: 50%;
	shape-outside: border-box;
	shape-margin: 20px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


