/*
* Specific classes pertaining to Waypoint functionality
*/

//waypoints

.sticky{
	.primary-nav{
		top: 80px; 
	}
	.menu-button-plain{
		@extend %visually-hidden; 
	}
	.current-section-title{
		opacity: 1;  
		@extend %fade-toggle; 
	}
	.menu-container{
		height: 80px; 
		svg{
			opacity: 1; 
		}
	}
}

.header-sticky{
	background-color: $white; 
	width: 100%; 
}

.stuck{
	position:fixed;
	top: 0;
	z-index: 2; 
}
