/* Fonts */

//Linux Libertine
%ll300, .ll300 {
  font-family: $linux-libertine; 
  font-weight: 300; 
}

%ll400, .ll400 {
  font-family: $linux-libertine; 
  font-weight: 400; 
}

%ll700, .ll700 {
  font-family: $linux-libertine; 
  font-weight: 700; 
}


//Tusj
%t300, .t300 {
  font-family: $tusj; 
  font-weight: 300; 
}

%t400, .t400 {
  font-family: $tusj; 
  font-weight: 400; 
}

%t700, .t700 {
  font-family: $tusj; 
  font-weight: 700; 
}

//Airbag
%a300, .a300 {
  font-family: $airbag; 
  font-weight: 300; 
  text-transform: uppercase; 
}

%a400, .a400 {
  font-family: $airbag; 
  font-weight: 400; 
  text-transform: uppercase; 
}

%a700, .a700 {
  font-family: $airbag; 
  font-weight: 700; 
  text-transform: uppercase; 
}

//Modum 
%m300, .m300 {
  font-family: $modum; 
  font-weight: 300; 
}

%m400, .m400 {
  font-family: $modum; 
  font-weight: 400; 
}

%m700, .m700 {
  font-family: $modum; 
  font-weight: 700; 
}

//Vollkorn
%v400, .v400 {
  font-family: $vollkorn; 
  font-weight: 400; 
}

%v700, .v700 {
  font-family: $vollkorn; 
  font-weight: 700; 
}


