%svg-common {
    background-repeat: no-repeat;
    background-image: url(../images/sprites/sprite.svg);
}

.svg-ai-logo {
    background-position: 0 0;
    @extend %svg-common;
    width: 100px;
    height: 100px;
}


.svg-ps-logo {
    background-position: 100% 0;
    @extend %svg-common;
    width: 100px;
    height: 100px;
}


